body  {
  font-family: '微軟正黑體';
  color: #ffffff;
  background-color: #000000;
}
.page{
  width:100%;
}
.page ul li {
  margin-top:10px;
}
.page ul li a{
  color: #ffffff;
  background-color:rgb(204, 93, 108);
  margin-top:10px;
}
